* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Menyembunyikan overflow agar video dapat mencakup seluruh latar belakang */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 200px;
	transition: 0.5s ease;
}

header .brand{
	color: #fff;
	font-size: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
}

header .navigation{
	position: relative;
}

header .navigation .navigation-items a{
	position: relative;
	color: #0C5E08 ;
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
	margin-left: 30px;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
	content: '';
	position: absolute;
	background: #0C5E08 ;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
	width: 100%;
}
.about-section {
    overflow: hidden;
    padding: 100px 0;
}

.video-background {
    position: fixed;
    right: 750;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
    width: 50em;
    height: 50em;
    z-index: -1;
}

.inner-container {
    width: 55%;
    float: right;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    color: #545454;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width: 1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section {
        padding: 100px 40px;
    }
    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-section {
        padding: 0;
    }
    .inner-container {
        padding: 60px;
    }
}
